html, body{
    height: 100%;
    margin: 0;
}

.containerMain {
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    grid-template-rows: auto 1fr;
}

.header {
    color: black;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.headerRight {
    display: grid;
    justify-items: right;
}

.buttons {
    grid-column-start: 2;
    grid-row-start: 2;

}

button {
    background-color: rgb(14, 162, 211);
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.greeting {
    grid-column-start: 1;
    grid-row-start: 2;
    padding: 15px;
}

.sidebar {
    background-color: rgb(14, 162, 211);
    color: white;
    grid-row: 1 / -1;
    display: grid;
    align-content: start;
    padding: 20px;
}

.mainContent {
    background-color: rgb(226, 234, 239);
    color: black;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.squares {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-column: 1 / 2;
}

.subtitle {
    grid-column: 1 / -1;
    margin-top: 20px ;
}

.sub {
    font-weight: 400;
}
.square {
    background-color: white;
    display: grid;
    align-items: center;
    border-radius: 8px;
    border-left: 5px solid orange;
    padding: 5px;
    margin: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.text {
    display: grid;
    align-items: center;
    font-size: 12px;
    color: gray;
}

.rightRail {
    display: grid;
    align-content: start;
    gap: 20px;
}

.announcements {
    padding: 10px;
}

.trending {
    padding: 10px;
}

li  {
    display: grid;
}

ul {
    display: grid;
    gap: 15px;
}

.nav {
    display: grid;
    gap: 10px;
}

.wrap {
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
}
.inner {
    font-size: 12px;
}